
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
  font-family: "VT323";
  scroll-behavior: smooth;
  color: white;
  background-color: black;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
